<div id="blind" class="blind">
  <div id="message_form_container" class="central_form_container">
    <div id="file_upload_form_box" class="central_form">
      <div id="click_able">
        <div class="file_list_title_row">
          <div style="width: 25%" class="file_list_item">标题</div>
          <div style="width: 60%" class="file_list_item">描述</div>
          <div style="width: 15%" class="file_list_item"></div>
          <div class="clear"></div>
        </div>
        <%request_submits.each do |submittion| %>
            <% if submittion.is_approved.nil? %>
            <div class="file_list_list_row" id="file_row_<%=submittion.id%>">
              <div style="width: 25%" class="file_list_item"><a target="_blank" href="/request_doc/<%=submittion.request_id%>/<%=submittion.request_file_id%>_<%=submittion.request_file.file_file_name%>"><%=submittion.request_file.file_file_name%></a></div>
              <div style="width: 45%" class="file_list_item"><%=submittion.request_file.description %></div>
              <div style="width: 15%" class="file_list_item"><a data-action="approve" data-id="<%=submittion.id%>" class="button_blue approve_progress" style="color: #FFFFFF" href="#">通过审核</a></div>
              <div style="width: 15%" class="file_list_item"><a data-action="decline" data-id="<%=submittion.id%>" class="button_red decline_progress" style="color: #FFFFFF" href="#">不通过审核</a></div>
              <div class="clear"></div>
            </div>
            <%end%>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>

    $('.approve_progress,.decline_progress').on('click',function(){
        var obj = $(this)
        $.ajax({
            url: '/request_submit/progress',
            type: 'post',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            data: {id:obj.attr("data-id"),approve_action:obj.attr("data-action")},
            dataType: 'json',
            success: function () {
                location.reload();
            }
        });
    })
</script>

