<div id="blind" class="blind">
  <div id="message_form_container" class="central_form_container">
    <%= form_tag url_for(:controller => 'requests', :action => 'do_take_request'), :method => 'post' do %>
        <div id="file_upload_form_box" class="central_form">
          <div id="click_able">
            <div style="text-align: left">
              <div class="submit_form_option"><b>请您选择竞标价格</b></div>
              <div class="submit_form_option"><input type="radio" name="bid_mode" value="default" checked="true" onclick="$('#bid').val(<%=request.price%>).attr('disabled','disabled')"> 接受发布人报价(<%=request.user.country.currency.currency_code%> <%=request.price%>) </div>
              <div class="submit_form_option"><input type="radio" name="bid_mode" value="custom" onclick="$('#bid').val('').removeAttr('disabled')"> 报价： <input  value="<%=request.price%>" type="text" name="bid" id="bid" disabled='disabled' /> <%=request.user.country.currency.currency_code%></div>
            </div>
            <div>
              <%= submit_tag :参加竞标,:data=>{disable_with: 'Saving...'},:class=>'button_blue' %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>