<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>你好,<%=@user.first %> <%=@user.last %></p>

<p>
  用户<%=@taker.id %>申请承接任务<%=@request.title %>(<%=@request.id %>)
</p>

<p>
  申请人信息
</p>

<p>
  用户： <%= @taker.id %>    <br/>
  来自：  <%= @taker.country.country_name %> <%= @taker.university.name %>    <br/>
  申请人学历： <%= @taker.education.name %>  <br/>
  诚信度：<%= @taker.get_reputation %> <br/>
  好评率：<%= @taker.get_rating %>      <br/>
  承接任务：<%=@request_count['create']%>     <br/>
  完成任务：<%=@request_count['pay']%>     <br/>
</p>


<p>
  任务详情
</p>

<p>
  来自:  <%= @request.user.country.country_name %> <%= @request.user.university.name %>    <br/>
  任务性质： <%= @request.user.education.name %> <%= @request.request_type.name %>     <br/>
  任务名称：<%= @request.title %>    <br/>
  任务详情：<%= @request.requirement %>    <br/>
  科目： <%= @request.subject_area.name %>    <br/>
  成绩要求：<%= @request.expected_score %>    <br/>
  字数要求：<%= @request.expected_score %>    <br/>
  报酬：<%= @request.user.country.currency.currency_code %> <%= @request.price %>    <br/>
</p>


<p>
  具体情况请登入查看  <%= @url %>
</p>

<p>助学网团队</p>
</body>
</html>