<div class="register_box">
  <h3>注册</h3>
  <b>请如实填写以下信息。您的信息将受到严格保密，不会透露给任何第三方，请放心填写。</b>
  <span id="warning" style="color: red;font-weight: bolder"></span>
  <%= form_for :user, url: users_path,:html => {:id => "register_form"} do |user| %>
      <p>
        <%= user.label :姓 %><br>
        <%= user.text_field :first,:class=>'mandatory' %>
      </p>

      <p>
        <%= user.label :名 %><br>
        <%= user.text_field :last,:class=>'mandatory' %>
      </p>

      <p>
        <%= user.label :邮箱 %> <span id="email_warning" style="color: red;font-weight: bolder;"></span><br>
        <%= user.text_field :email,:class=>'mandatory' %>
      </p>
      <p>
        <%= user.label :我要 %>
        <br>
        <select id="user_user_type_id" class="mandatory" name="user[user_type_id]">
          <option value="1">发布任务</option>
          <option value="2">承接任务</option>
        </select>
      </p>
      <p>
        <%= user.label :目前就读学历 %><br>
        <%= user.select :education_id, Education.all.collect { |e| [e.name, e.id] },{:class=>'mandatory'} %>
      </p>

      <p>
        <%= user.label :科目 %><br>
        <%= user.select :subject_area_id, SubjectArea.all.collect { |e| [e.name, e.id] },{:class=>'mandatory'} %>
      </p>

      <p>
        <%= user.label :国家 %><br>
        <%= user.select :country_id, Country.all.collect { |e| [e.country_name, e.id] }, {:include_blank => true},{:class=>'mandatory'} %>
      </p>

      <p>
        <%= user.label :学校 %><br>
        <%= user.select :university_id, ['请先选择国家'],{:include_blank => true},{:class=>'mandatory'} %>
      </p>
      <p>
        <%= user.label :密码 %><br>
        <%= user.password_field :password,:class=>'mandatory' %>
      </p>

      <p>
        <%= user.submit :注册,:id=>'submit', :class=>'login_button', disable_with: 'Saving...' %>
      </p>
  <% end %>
</div>
<%= javascript_include_tag "register_form", "data-turbolinks-track" => true %>
