<div class="login_box" style="text-align: left">
  <div><p><b>请输入以下信息以重新发送激活邮件</b></p></div>
  <%= form_tag("/reset_pass", method: "post") do %>
      <input type="hidden" name="token" value="<%= @token %>">
      <input type="hidden" name="email" value="<%= @email %>">

      <div>
        <div><%= label_tag('新的密码', nil, style: 'min-width:300px;') %>：</div>
        <div><%= password_field_tag :pass %></div>
      </div>
      <div>
        <div><%= label_tag('重新输入新的密码', nil, style: 'min-width:300px;') %>：</div>
        <div><%= password_field_tag :pass_confirm %></div>
      </div>
      <p><%= submit_tag('重置密码') %> 或者 <a href="/">返回主页</a></p>
  <% end %>
</div>


