<div class="login_box" style="text-align: left">
  <div><p><b>请输入以下信息以重新发送激活邮件</b></p></div>
  <%= form_tag("/resend_email", method: "post") do %>
      <div>
        <div><%= label_tag('邮箱', nil, style: 'min-width:300px;') %>：</div>
        <div><%= text_field_tag :email %></div>
      </div>
      <div>
        <div><%= label_tag('姓', nil, style: 'min-width:300px;') %>：</div>
        <div><%= text_field_tag :last %></div>
      </div>
      <div>
        <div><%= label_tag('名', nil, style: 'min-width:300px;') %>：</div>
        <div> <%= text_field_tag :first %></div>
      </div>
      <p><%= submit_tag('重新发送邮件') %> 或者 <a href="/">返回主页</a></p>
  <% end %>
</div>

