<h1>任务市场</h1>
<div class="request_list_table">
  <div class="request_list_row title_row">
    <div style="width: 10%" class="request_list_cell">编号</div>
    <div style="width: 50%" class="request_list_cell">标题</div>
    <div style="width: 14%" class="request_list_cell">类型</div>
    <div style="width: 13%" class="request_list_cell">截止日期</div>
    <div style="width: 10%; white-space: nowrap;" class="request_list_cell">状态</div>
  </div>
  <% @requests.each do |request| %>
      <a class="" href="/requests/<%=request.id%>">
        <div class="request_list_row normal_row">
          <div style="width: 10%"  class="request_list_cell"><%= request.id %></div>
          <div style="width: 50%"  class="request_list_cell"><%= request.title %></div>
          <div style="width: 14%"  class="request_list_cell"><%= request.request_type.name %></div>
          <div style="width: 13%"  class="request_list_cell"><%= int_to_date(request.end_date) %></div>
          <div style="width: 10%;"  class="request_list_cell"><%= get_request_status(request.status) %></div>
        </div>
      </a>
  <% end %>
  <% if@requests.size==0 %>
      <div style="text-align: center;font-weight: bolder;color: #929295" class="request_list_row normal_row">
        还没有任何任务
      </div>
  <%end%>
</div>
