<div>
  <h2 class="request_title">任务详情</h2>

  <div class="request_button_area">
    <% if @request.is_owner?(session[:user_id]) %>
        <% if @request.status==RequestStatus::AWAITING_PAYMENT %>
            <a style="color: #FFFFFF" class="button_blue" href="/request/<%= @request.id %>/payment">付款</a>
        <% end %>
        <% if @request.status!=RequestStatus::HANDED_IN && @request.status!=RequestStatus::CLOSED && @request.status!=RequestStatus::CANCELLED %>
            <a style="color: #FFFFFF" class="button_blue" href="javascript:void(0)" id="maker_upload_file">上传文件</a>
        <% end %>
        <% if  @request.status!=RequestStatus::HANDED_IN && @request.status!=RequestStatus::CLOSED && @request.status!=RequestStatus::CANCELLED %>
            <a style="color: #FFFFFF" class="button_red" href="javascript:void(0)" id="maker_cancel_task">取消任务</a>
        <% end %>
    <% end %>
    <% if !@request.taker.nil? && @request.taker.id==session[:user_id] %>
        <% if  @request.status==RequestStatus::IN_PROCESS %>
            <a style="color: #FFFFFF" class="button_blue" href="javascript:void(0)" id="submit_process">提交任务</a>
        <% end %>
        <% if  @request.status==RequestStatus::IN_PROCESS %>
            <a style="color: #FFFFFF" class="button_blue" href="javascript:void(0)" id="maker_upload_file">上传文件</a>
        <% end %>
        <% if  @request.status!=RequestStatus::HANDED_IN && @request.status!=RequestStatus::CLOSED && @request.status!=RequestStatus::COMPLETED %>
            <a style="color: #FFFFFF" class="button_red" href="javascript:void(0)" id="taker_cancel_task">取消任务</a>
        <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<div class="request_show_area">
  <div class="request_form_left">
    <div class="request_show_form">
      <div> <%= label_tag :标题 %>
        <div><%= @request.title %></div>
      </div>
      <hr>
      <div> <%= label_tag :目前状态 %>
        <div>
          <% if @request.status==RequestStatus::IN_PROCESS %>
              <%= get_request_status(@request.status) %> <span style="color: #929295">(完成度:<%= @request.latest_approved_submit.nil? ? "0" : @request.latest_approved_submit.process %>
                %)</span>
          <%elsif @request.status==RequestStatus::CANCELLED %>
             <span style="color: red"> <%= get_request_status(@request.status) %></span>
          <%else%>
              <%= get_request_status(@request.status) %>
          <% end %></div>
      </div>
      <hr>
      <div> <%= label_tag :任务描述 %>
        <div><%= @request.requirement %></div>
      </div>
      <hr>
      <div> <%= label_tag :任务类型 %>
        <div class="request_cell_row"><%= @request.request_type.name %></div>
      </div>
      <hr>
      <div> <%= label_tag :学科 %>
        <div class="request_cell_row"><%= @request.subject_area.name %></div>
      </div>
      <hr>
      <div> <%= label_tag :字数要求 %>
        <div class="request_cell_row"><%= @request.words %></div>
      </div>
      <hr>
      <div> <%= label_tag :分数要求 %>
        <div class="request_cell_row"><%= @request.expected_score %></div>
      </div>
      <hr>
      <div> <%= label_tag :价格 %>
        <div class="request_cell_row"><%= @request.price %> <%= @request.user.country.currency.currency_code %></div>
      </div>
      <hr>
      <div> <%= label_tag :交稿时间 %>
        <div class="request_cell_row"><%= int_to_date(@request.end_date) %></div>
      </div>

      <div>发布者上传的文件：<%= @request.maker_upload_files.size %> <a id="load_file_list" href="javascript:void(0)">查看</a>
      </div>

      <div>
        <% if @request.is_owner?(session[:user_id]) %>


            <% if @request.status==RequestStatus::ACCEPTED %>
                <p>
                  <%= form_tag url_for(:controller => 'requests', :action => 'confirm_taker'), :method => 'post' do %>
                      <input type="hidden" value="1" name="a" id="a">
                      <input type="hidden" value="<%= @request.taker.id %>" name="taker_id" id="taker_id">
                      <%= submit_tag :确认写手,:id=>'approve' %>
                  <% end %>
                  <%= form_tag url_for(:controller => 'requests', :action => 'confirm_taker'), :method => 'post' do %>
                      <input type="hidden" value="0" name="a" id="a">
                      <input type="hidden" value="<%= @request.taker.id %>" name="taker_id" id="taker_id">
                      <%= submit_tag :否决写手,:id=>'decline' %>
                  <% end %>
                </p>
            <% end %>
            <% if @request.status==RequestStatus::HANDED_IN %>
                <%= form_tag url_for(:controller => 'requests', :action => 'do_complete'), :method => 'post' do %>
                    <p>
                      <%= submit_tag :我对质量感到满意，审核通过 %>
                      <%= link_to '我对质量不满意，我要投诉', :controller => 'requests', :action => 'complaint' %>
                    </p>
                <% end %>
            <% end %>
            <% if @request.status==RequestStatus::COMPLETED %>
                <%= form_tag url_for(:controller => 'requests', :action => 'close_down'), :method => 'post' do %>
                    <p>
                      <%= submit_tag :成绩要求达标，结束任务 %>
                      <%= link_to '成绩未能达到要求，我要投诉', :controller => 'requests', :action => 'complaint' %>
                    </p>
                <% end %>
            <% end %>
        <% end %>

        <% if session[:user_type_id]==2 %>
            <% if  @request.status==RequestStatus::SUBMITTED %>
                <% if RequestAllocation.where(:taker_id => session[:user_id], :request_id => @request.id).count==0 %>
                    <%= form_tag url_for(:controller => 'requests', :action => 'do_take_request'), :method => 'post' do %>
                        <p>
                          <%= submit_tag :领取任务 %>
                        </p>
                    <% end %>
                <% else %>
                    <span style="color: #929295">你已经申请承接过本项目，不能再次申请</span>
                <% end %>


            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if !@request.taker.nil? && (@request.is_owner?(session[:user_id]) || @request.taker.id==(session[:user_id])) %>
      <div class="request_form_right">
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :承接人ID %></div>
          <div class="row_content"><%= link_to @request.taker.id, :controller => 'users', :action => 'show', :id => @request.taker.id %></div>
        </div>
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :来自 %></div>
          <div class="row_content"><%= label_tag @request.taker.country.country_name %></div>
        </div>
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :学校 %></div>
          <div class="row_content"><%= label_tag @request.taker.university %></div>
        </div>
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :任务完成率 %></div>
          <div class="row_content"><%= label_tag @request.taker.request_complete_rate %></div>
        </div>
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :好评率 %></div>
          <div class="row_content"><%= label_tag @request.taker.get_rating %></div>
        </div>
        <div class="request_form_right_row">
          <div class="row_title"><%= label_tag :诚信度 %></div>
          <div class="row_content"><%= label_tag @request.taker.get_reputation %></div>
        </div>
        <div class="request_form_right_row">
          <div>发布者上传的文件：<%= @request.get_taker_upload_files.size %>
            <a id="load_file_list_taker" href="javascript:void(0)">查看</a></div>
        </div>
        <% if (!@request.latest_submit.nil? && @request.latest_submit.is_approved.nil? && @request.is_owner?(session[:user_id])) %>
            <div class="request_form_right_row">
              <div class="request_cell_row">
                <a style="color: red" id="maker_approve_form" href="javascript:void(0)">有未审核进度报告</a>
              </div>
            </div>
        <% end %>
        <% if @request.is_owner?(session[:user_id]) %>
            <div>
              <a href="javascript:void(0)" id="message_button">发送信息</a>
            </div>
        <% end %>
      </div>
  <% end %>
  <div class="clear"></div>
</div>
<% if !@request.taker_allocation.nil? %>
    <%= render partial: '/share/load_form.js', locals: {request: @request, request_file: @request_file, request_submits: @request_submits} %>
<% end %>
<script>
    $(document).ready(function () {
        $('#message_button').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_message_form() + '</div>');
            clickFix(event)
        });
        $('#maker_upload_file').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_file_upload_form() + '</div>');
            clickFix(event)
        });
        $('#load_file_list').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_file_list_form() + '</div>');
            clickFix(event)
        });
        $('#load_file_list_taker').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_taker_file_list_form() + '</div>');
            clickFix(event)
        });
        $('#submit_process').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_taker_submit_form() + '</div>');
            clickFix(event)
        });
        $('#maker_cancel_task').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_maker_cancel_form() + '</div>');
            clickFix(event)
        });
        $('#taker_cancel_task').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_taker_cancel_form() + '</div>');
            clickFix(event)
        });
        $('#maker_approve_form').on('click', function (event) {
            $('body').prepend("<div id='blind_area'>" + get_maker_approve_form() + '</div>');
            clickFix(event)
        });

        function clickFix(event) {
            event.stopPropagation();
            $('#click_able').on('touchend click', function (event) {
                event.stopPropagation();
            });
        }
    })


</script>

